.business-section {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
}
@media(max-width:500px){
.business-section{
    height: 134px;
}
.swiper.swiper-initialized.swiper-horizontal.mySwiper{
    height: 134px !important;
}
}
