.cg-button{
    border: 1px solid #ffffff;
    padding: 12px;
   background-color:rgba(0, 0, 0, 0) ;
    color: #fff;
    font-size: 16px;
    transition: .4s ease;
    /* width: 100px; */
    font-weight: 400;
}

.cg-button:hover{
    color: #fff;
    background-color: #fea526;
}
.error-button{
    padding: 16px;
    background-color: #fea526;
    color: #fff;
    width: 105px;
    border: none;font-size: 14px;
    margin-left: 10px;
}
@media(max-width:700px){
    .error-button{
        padding: 12px;
        width: 90px;
        border: none;font-size: 13px;
        margin-left: 10px;
    }
}
@media(max-width:500px){
    .error-button{
        padding: 10px;
        width: 80px;
        border: none;font-size: 11px;
        margin-left: 9px;
    }
}
@media(max-width:400px){
    .error-button{
        padding: 8px;
        width: 60px;
        border: none;
        font-size: 9px;
        margin-left: 8px;
    }
}

.error-button:hover{
    background-color: #fe8905;
}

@media(max-width:1150px){
    .cg-button{
        padding: 9px;
        font-size:14px ;
    }

}
@media(max-width:900px){
    .cg-button{
        padding: 7px;
        font-size:12px ;
    }

}
@media(max-width:500px){
    .cg-button{
        padding: 5px;
        font-size:10px ;
    }

}

