.cg-button{
    border: 1px solid #ffffff;
    padding: 12px;
   background-color:rgba(0, 0, 0, 0) ;
    color: #fff;
    font-size: 16px;
    transition: .4s ease;
    /* width: 100px; */
    font-weight: 400;
}

.cg-button:hover{
    color: #fff;
    background-color: #fea526;
}

@media(max-width:1150px){
    .cg-button{
        padding: 9px;
        font-size:14px ;
    }

}
@media(max-width:900px){
    .cg-button{
        padding: 7px;
        font-size:12px ;
    }

}
@media(max-width:500px){
    .cg-button{
        padding: 5px;
        font-size:10px ;
    }

}

