body{
    background-color: #121215;
}
.main-section{
    display: flex;
    height: 530px;
    padding-top: 70px;
    padding-left: 150px ;
}
.categories{
    display: flex;

    flex-direction: column;
    width: 300px;
    min-width: 200px;
    padding-right: 30px;
}
.categories a{
    text-decoration: none;
    height: 49px;
    background-color: #1d1e23;
    padding-top: 14px;
    padding-left: 14px;
    transition: .4s ease;
    color: #fff;
    width: 100%;
    /* height: 100%; */
    padding-bottom: 14px;
    border-bottom: 0.1px solid #282a2e;
}
.categories a:hover{
    color: #fea526;
}


.icon-categories{
    font-size: 14px;
    color:#fff;
    margin-right: 10px;
}
.categories h1{
    display: flex;
    align-items: center;
    color: #fff;
    height: 56px;
    background-color: #fea526;
    margin-bottom:0 ;
    font-size: 18px;
    padding-left: 14px;
}
.beretta{
    background-image: url('https://res.cloudinary.com/dmqymruko/image/upload/v1687713423/beretta_hkfmyh.jpg');
    width: 800px;
    height: 400px;
}
.beretta-text{
text-align: center;
padding-top: 60px;
padding-right: 400px;
}
.beretta-text h1{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
}
.beretta-text h4{
    color: #fff;
    font-size: 22px; 
    padding-bottom: 10px;
    font-weight: 400;
}
.beretta-text h3{
    font-size: 34px;
    padding-bottom: 15px;
    color: #fea526;
    font-weight: 700;
}

/* .swiper-slide.swiper-slide-active{
    width: 900px;

} */
.swiper-wrapper{
    width: 900px !important;
}
.steiner{
    background-image: url('https://res.cloudinary.com/dmqymruko/image/upload/v1687769668/binocular_ciyuij.jpg');
    width: 800px;
    height: 400px;
}
.steiner-text{
text-align: center;
padding-top: 60px;
padding-left: 400px;
}
.steiner-text h1{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
}
.steiner-text h4{
    color: #FFF;
    font-size: 22px; 
    padding-bottom: 10px;
    font-weight: 400;
}
.steiner-text h3{
    font-size: 34px;
    padding-bottom: 15px;
    color: #fea526;
    font-weight: 700;
}

.special{
    background-image: url('https://res.cloudinary.com/dmqymruko/image/upload/v1687769677/special_pjxwl8.jpg');
    width: 800px;
    height: 400px;
}
.special-text{
text-align: center;
padding-top: 60px;
padding-right: 400px;
}
.special-text h1{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
}
.special-text h4{
    color: #fff;
    font-size: 22px; 
    padding-bottom: 10px;
    font-weight: 400;
}
.special-text h3{
    font-size: 34px;
    color: #fea526;
    font-weight: 700;
}
@media(max-width:1250px){
    .main-section{
        padding-left: 50px;
    }
}
@media(max-width:1150px){
    /* .swiper-slide.swiper-slide-active{
        width: 200px !important;
        height: 200px !important;
} */
.mySwiper{
    width: 500px;
}
}