.contact-section>.contact-top {
    height: 115px;
    display: flex;
    align-items: center;
    padding: 0 100px;
    color: #fff;
    justify-content: space-between;
}

.contact-section>.contact-top h1 {
    font-size: 18px;
    font-weight: 700;
}

.contact-section>.contact-top h2 {
    font-weight: 400px;
    font-size: 18px;
}

.contact-section>.contact-top h2 span {
    font-weight: 300;
}

.form-section {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.full-form>.forms> .name, .email, .subject {
    width: 650px;
    padding: 14px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    background-color: #121215;
    color: #808080;
    font-size: 16px;
}

.full-form> .forms> .message {
    width: 650px;
    height: 150px;
    padding: 14px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    background-color: #121215;
    color: #808080;
    font-size: 16px;
}

.form-right button {
    width: 150px;
    height: 50px;
    color: #fff;
    background-color: #fea526;
    border: none;
    margin-top: 20px;
}

.form-right button:hover {
    background-color: #fe8905;
}

.contact-section {
    background-color: #1d1e23;
}

.contact-top {
    background-color: #121215;
}

.contact-text {
    padding-top: 100px;
    text-align: center;
}

.contact-text h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}

.contact-text h1 span {
    font-weight: 300;
}

.contact-text h2 {
    color: #fea526;
    font-size: 40px;
    font-weight: 700;
}

.contact-text p {
    color: #808080;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 3px;
}

.form-left {
    width: 313px;
    padding-bottom: 30px;

}

.form-left>.personal-inf {
    padding-bottom: 30px;
}

.form-left>.personal-inf h3 {
    color: #b4b4b4;
    font-size: 16px;
}

.form-left>.personal-inf h4 {
    color: #808080;
    font-size: 14px;
}

.personal-md {
    display: flex;
}

.personal-media {
    color: #fff;
    margin: 10px;
}
.forms{
    position: relative;
}
.forms small{
color: #fff;
position: absolute;
left: 10px;
border-radius: 5px;
width: 200px;
background-color:rgb(146, 4, 4) ;
bottom: 0;
padding: 4px;
visibility: hidden;
}
.forms input{
    border: 1px solid rgb(0, 0, 0);
}
.forms.success input {
    border-color: rgb(0, 131, 20);   
}
.forms.error input {
    border-color: rgb(146, 4, 4);
 
}
.forms.error small{
    visibility: visible;
}