.contact-section>.contact-top {
    height: 115px;
    display: flex;
    align-items: center;
    padding: 0 100px;
    color: #fff;
    justify-content: space-between;
}

.contact-section>.contact-top h1 {
    font-size: 18px;
    font-weight: 700;
}
.contact-top a{
text-decoration: none;
color: #fff;
}

.contact-section>.contact-top h2 {
    font-weight: 400px;
    font-size: 18px;
}

.contact-section>.contact-top h2 span {
    font-weight: 300;
}

.form-section {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}


.contact-section {
    background-color: #1d1e23;
}

.contact-top {
    background-color: #121215;
}

.contact-text {
    padding-top: 100px;
    text-align: center;
}

.contact-text h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}

.contact-text h1 span {
    font-weight: 300;
}

.contact-text h2 {
    color: #fea526;
    font-size: 40px;
    font-weight: 700;
}

.contact-text p {
    color: #808080;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 3px;
}

.form-left {
    width: 313px;
    min-height: 131px;
    padding-bottom: 30px;
margin-right: 10px;
}

.form-left>.personal-inf {
    padding-bottom: 30px;
}

.form-left>.personal-inf h3 {
    color: #b4b4b4;
    font-size: 16px;
}

.form-left>.personal-inf h4 {
    color: #808080;
    font-size: 14px;
}

.personal-md {
    display: flex;
}

.personal-media {
    color: #fff;
    margin: 10px;
}
@media(max-width:1000px){
    .contact-section>.contact-top{
        height: 95px;
        padding: 0 80px;
    }
    .contact-section>.contact-top h1{
        font-size: 16px;
    }
    .contact-section>.contact-top h2 {
        font-size: 16px;
    }
    .form-section {
        padding-top: 40px;
        padding-bottom: 90px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .contact-text {
        padding-top: 90px;
    }
    .contact-text h1 {
        font-size: 45px;
    }
    .contact-text h2 {
        font-size: 35px;
    }
    .contact-text p {
        font-size: 15px;
        line-height: 23px;
        letter-spacing: 3px;
    }
    .form-left {
        width: 313px;
        padding-bottom: 30px;
    
    }
    .form-left>.personal-inf {
        padding-bottom: 26px;
    }
    .form-left>.personal-inf h3 {
        font-size: 15px;
    }
    .form-left>.personal-inf h4 {
        font-size: 13px;
    }
    .personal-media {
        margin: 9px;
    }

}
@media(max-width:745px){
    .contact-section>.contact-top{
        height: 85px;
        padding: 0 60px;
    }
    .contact-section>.contact-top h1{
        font-size: 15px;
    }
    .contact-section>.contact-top h2 {
        font-size: 15px;
    }
    .form-section {
        padding-top: 30px;
        padding-bottom: 80px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .contact-text {
        padding-top: 80px;
    }
    .contact-text h1 {
        font-size: 40px;
    }
    .contact-text h2 {
        font-size: 30px;
    }
    .contact-text p {
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 2px;
    }
    .form-left>.personal-inf {
        padding-bottom: 20px;
    }
    .form-left>.personal-inf h3 {
        font-size: 13px;
    }
    .form-left>.personal-inf h4 {
        font-size: 11px;
    }
    .personal-media {
        margin: 8px;
        font-size: 14px;
    }

}
@media(max-width:600px){
    .form-section{
        flex-wrap: wrap;
        justify-content: left;
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
    }
    .form-right{
        width: 100%;
    }
.contact-section>.contact-top{
    height: 80px;
    padding: 0 40px;
}
.contact-section>.contact-top h1{
    font-size: 14px;
}
.contact-section>.contact-top h2 {
    font-size: 14px;
}
.contact-text {
    padding-top: 70px;
}
.contact-text h1 {
    font-size: 35px;
}
.contact-text h2 {
    font-size: 25px;
}
.contact-text p {
    font-size: 10px;
    line-height: 17px;
    letter-spacing: 2px;
}
.form-left>.personal-inf {
    padding-bottom: 10px;
}
.form-left>.personal-inf h3 {
    font-size: 18px;
}
.form-left>.personal-inf h4 {
    font-size: 14px;
}
.personal-media {
    margin: 10px;
    font-size: 16px;
}

}
@media(max-width:400px){
    .form-section{
        padding-left: 20px;
        padding-right: 20px;
    }

    .contact-section>.contact-top{
        height: 70px;
        padding: 0 20px;
    }
    .contact-section>.contact-top h1{
        font-size: 12px;
    }
    .contact-section>.contact-top h2 {
        font-size: 12px;
    }
    .contact-text {
        padding-top: 50px;
    }
    .contact-text h1 {
        font-size: 25px;
    }
    .contact-text h2 {
        font-size: 20px;
    }
    .contact-text p {
        font-size: 8px;
        line-height: 15px;
        letter-spacing: 1px;
    }
    .form-left>.personal-inf {
        padding-bottom: 8px;
    }
    .form-left>.personal-inf h3 {
        font-size: 14px;
    }
    .form-left>.personal-inf h4 {
        font-size: 12px;
    }
    .personal-media {
        margin: 8px;
        font-size: 14px;
    }
}
