.nvproducts-section>.nvproducts-top {
    height: 115px;
    display: flex;
    align-items: center;
    padding: 0 100px;
    color: #fff;
    justify-content: space-between;
}


.nvproducts-section>.nvproducts-top h1 {
    font-size: 18px;
    font-weight: 700;
}

.nvproducts-section>.nvproducts-top h2  {
    font-weight: 400px;
    font-size: 18px;
}
.nvproducts-section>.nvproducts-top a{
text-decoration: none;
color: #fff;
}

.nvproducts-section>.nvproducts-top h2 span {
    font-weight: 300;
}

.nvproducts-bottom {
    padding-top: 80px;
    background-image: url('https://res.cloudinary.com/dmqymruko/image/upload/v1687860291/white_yh5uu4.jpg');
    background-attachment: fixed;
    /* overflow: hidden; */
    padding-bottom: 100px;
}
.nvproducts-bottom> .bottom-left{
    width: 300px;
    height: 1295px;
    margin-left: 20px;
}

.nvproducts-bottom h1 {
    font-size: 18px;
    color: #fff;
    padding-bottom: 26px;
    margin: 0;
}

.nvproducts-bottom h1 span {
    font-size: 18px;
    color: #fea526;
}

.nvproducts-section>.nvproducts-bottom>.bottom-left>.nv-card>.nv-text .nv-icon {
    width: 10px;
    color: #fea526;
    margin-right: 10px;
}
.nvproducts-section>.nvproducts-bottom>.bottom-left>.nv-card>.nv-text p{
    font-size:14px;
    color: #808080;
    margin: 0;
}
.nvproducts-section>.nvproducts-bottom>.bottom-left>.nv-card>.nv-text{
    padding-bottom: 20px;
}
.nvproducts-section>.nvproducts-bottom>.bottom-left>.nv-card>.nv-text h4{
    font-size: 12px;
    color: #808080;
    padding-top: 10px;
}
.nv-subtotal{
    display: flex;
    flex-direction: column;
}
.nv-subtotal p{
color: #fff;
font-size: 12px;
padding-bottom: 15px;
}
.nv-subtotal button{
    margin: 0;
    margin-bottom: 10px;
    width: 128px;
    align-items: center;
    font-size: 11px;
    padding: 10px;
}
.nv-card{
    padding: 35px 39px;
    border-bottom:1px solid #1d1e23;
}
.nv-categories{
    padding: 35px 39px;
    border-bottom:1px solid #1d1e23;
}
.nv-square{
    width: 8px;
    margin-right: 8px;
    color: #fea526;
}
.nv-categories p{
    color: #b4b4b4;
    margin: 0;
    padding-bottom: 10px;
    font-size: 14px;
}
.nv-categories> .firearms h4{
margin: 0;
padding-bottom: 10px;
color: #808080;
font-size: 14px;
padding-left: 20px;
}
 .filter-square{
    width: 12px;
    color: #fea526;
}  
.nv-filter> .nv-border p{
    margin-top: 17px;
    width: 200px;
    border: 2px solid #fea526;
}
.nv-border{
    display: flex;
    align-items: center;
}
.nv-filter h1{
    padding-bottom: 16px;
}
.filter-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter-text button{
    margin: 0;
    width: 77px;
    padding: 10px;
}
.nv-filter{
    padding: 35px 39px;
    border-bottom:1px solid #1d1e23;
}
.filter-text p{
    font-size: 10px;
    color: #808080;
}
.filter-text p span{
    color: #b4b4b4;
}
.nvproducts-section> .nvproducts-bottom> .bottom-left{
    background-color: #121215;
}
.nv-tags{
    padding: 35px 39px;
    border-bottom:1px solid #1d1e23;

}
.product-tags a{
    color: #b4b4b4;
    font-size:12px ;
    text-decoration: none;
    border: 2px solid #343539;
    padding: 6px 12px;
    margin-right: 5px;
    transition: .3s ease;
}
.product-tags a:hover{
    color: #fea526;
    border:2px solid #fea526;
}
.product-tags> .nv-gear, .nv-hunting, .nv-rifle{
    padding-bottom: 10px;
}
.nvproducts-bottom{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap: wrap;
}
.nvproducts-bottom> .bottom-right{
    padding-left: 30px;
width: 870px;
}
.json-card{
    display: flex;
    flex-wrap: wrap;
    min-width: 510px;
}
@media(max-width:1248px){
    .nvproducts-bottom> .bottom-right{
    width: 590px;
    }
}
@media(max-width:970px){
    .nvproducts-bottom> .bottom-right{
        width: 510px;
        }
}
@media(max-width:890px){
    .nvproducts-bottom> .bottom-right{
        width: 100%;
        padding-top: 30px;
        padding-left: 0;
        }
        .nvproducts-bottom> .bottom-left{
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            height: auto;
            justify-content: center;
            margin: 0;

        }
        .json-card{
            justify-content: center;
        }
        .nvproducts-section>.nvproducts-top {
            height: 90px;
            padding: 0 30px;
        }
}
@media(max-width:580px){
    .json-card{
        min-width: 200px;
    }
    .nvproducts-section>.nvproducts-top h1 {
        font-size: 15px;
    }
    
    .nvproducts-section>.nvproducts-top h2 {
        font-size: 15px;
    }
    
}
@media(max-width:480px){
    .nvproducts-section>.nvproducts-top h1 {
        font-size: 14px;
    }
    .nv-filter{
        padding: 35px 39px;
        border:none;
    }
    
    .nvproducts-section>.nvproducts-top h2 {
        font-size: 14px;
    }
    .nvproducts-section> .nvproducts-bottom{
        padding-bottom: 50px;
    }
}
.df-sorting h1{
    color: #808080;
    font-size: 14px;
    padding: 0;
    margin-left: 10px;
}
.df-sorting{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.df-sorting> .dropdown> .dropdown-button{
    margin-right: 10px;
    width: 200px;
    background-color: #fff;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.df-sorting> .dropdown> .dropdown-button p{
margin: 0;
font-size: 14px;
}
.dropdown-content a{
background-color: #fff;
font-size: 14px;
color: #808080;
transition: .3s ease;
}
.dropdown-content a:hover{
background-color: #808080 !important;
color: #fea526;
}
@media(max-width:500px){
    .df-sorting{
        display: block;
    }
    .df-sorting> .dropdown> .dropdown-button{
    margin-top: 10px;
    margin-left: 10px;
    height: 35px;
    width: 160px;
    }
    .df-sorting> .dropdown> .dropdown-button p{
        font-size: 12px;
    }
    .dropdown-content a{
        font-size: 12px;
    }

}




