.shop-section{
    background-image: url('https://res.cloudinary.com/dmqymruko/image/upload/v1687860291/white_yh5uu4.jpg');
    background-attachment: fixed;

}
.shop-left{
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
}