@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: #121215;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bar {
  width: 10px;
  height: 40px;
  margin: 0 5px;
  background-color: #fea526;
  animation: bar 1s infinite;
}

.bar1 {
  animation-delay: 0.1s;
}

.bar2 {
  animation-delay: 0.2s;
}

.bar3 {
  animation-delay: 0.3s;
}

.bar4 {
  animation-delay: 0.4s;
}

.bar5 {
  animation-delay: 0.5s;
}
@keyframes bar{
  0%{
    transform: scaleY(0.2);
  }
  50%{
    transform: scaleY(1);
  }
  100%{
    transform: scaleY(0.2);
  }
}